{% extends 'base.html' %}
{% block title %}
代辦事項頁面
{% endblock %}
{% block css %}
<style>
    li {
        list-style-type: none;
        /* height: 50px; */
    }

    ul {
        border-radius: 12px;
        width: 400px;
        background-color: aquamarine;
        padding: 24px;
    }

    .title {
        color: blueviolet;
        background-color: white;
        width: 400px;
        font-size: 36px;
        font-weight: 900;
    }

    a {
        color: black;
    }

    a:visited {
        color: black;
    }
</style>
{% endblock %}
{% block content %}
<h1>TodoList</h1>
{% if todos %}
{% for todo in todos %}
<ul>
    <li><small>{{todo.created}}</small></li>
    <li class="title">
        <a href="{% url 'view' todo.id %}"> {{todo.title|safe|truncatechars:10}}</a>
    </li>
    <li>
        {% if todo.important %}
        <span style="color:red">重要</span>
        {% endif %}
    </li>
    {% if todo.image %}
    <li>
        <img src="{{todo.image.url}}" alt="" width="100px">
    </li>
    {% endif %}
    <div>
        <a href="{% url 'completed_by_id' todo.id %}">完成</a>&nbsp;
        <!-- <a href="{% url 'deleted_by_id' todo.id %}">刪除</a> -->
        <a href="{% url 'deleted_by_id' todo.id %}" onclick="return confirm('你確定要刪除嗎？')">刪除</a>
    </div>
</ul>
{% endfor %}
{% else %}
目前無代辦事項
{% endif %}
{% endblock %}ㄋ